<% if logged_in? %>
  <h2>You are logged in. Welcome <%= current_user['name'] %></h2>
    <form action="/sessions" method="POST">
      <input type="hidden" name="_method" value="delete">
      
      <button> logout</button>
  </form>


    <a href="/resource/new">Add new resource</a>
    <section class="all_resources">

        <% all_resources.each do |resource| %>
            <article class="resource_item">
                <h2><%= resource['name'] %></h2>
                <h3><%="#{resource['description']}"%></h3>
                <h3><%="#{resource['url']}"%></h3>
                <a href="/resource/<%=resource['id']%>/edit">Edit</a>

            <form onsubmit="return confirm('Are you sure you want to delete this resource?');" action="/resource/<%= resource['id'] %>" method="POST">
            <input type="hidden" name="_method" value="delete">

            <button>Delete</button>
            </form>

            </article>
        <% end %>
    </section>




    <% else %>
    <a href="/sign_up">Sign Up</a>
    <a href="/login">Login</a>

    <img src="https://png.pngitem.com/pimgs/s/198-1985002_css3-logo-hd-png-download.png" alt="">
    <img src="https://png.pngitem.com/pimgs/s/552-5526152_ornate-html5-logo-html-5-hd-png-download.png" alt="">
    <img src="https://png.pngitem.com/pimgs/s/116-1167737_logo-javascript-pattern-copyright-framework-free-download-javascript.png" alt="">
    <img src="https://png.pngitem.com/pimgs/s/12-120179_best-free-ruby-png-ruby-programming-language-logo.png" alt="">
    <img src="https://png.pngitem.com/pimgs/s/150-1506588_puma-ruby-logo-hd-png-download.png" alt="">
    <img src="https://png.pngitem.com/pimgs/s/360-3600482_ruby-on-rails-logo-ruby-on-rails-logo.png" alt="">
    <img src="https://png.pngitem.com/pimgs/s/151-1512647_postgresql-elephant-logo-postgresql-logo-vector-hd-png.png" alt="">
    <img src="https://png.pngitem.com/pimgs/s/19-199309_heroku-logo-transparent-background-hd-png-download.png" alt="">
    <img src="https://png.pngitem.com/pimgs/s/693-6938470_visual-studio-code-hd-png-download.png" alt="">
    <img src="https://png.pngitem.com/pimgs/s/159-1595932_python-logo-png-transparent-images-logo-transparent-background.png" alt="">

    
<% end %>