<div class="main">
  <h1>Edit Resource</h1>

  <form action="/resource/<%= resource['id'] %>" method="POST">
    <input type="hidden" name="_method" value="put">

    <label for="">Name: </label>
    <input type="text" name = "name" value ="<%= resource['name'] %>">

    <label for="">Description: </label>
    <input type="text" name = "description" value ="<%= resource['description'] %>">

    <label for="">URL: </label>
    <input type="text" name = "url" value ="<%= resource['url'] %>">

    <section class="language_img">
      <label for="">Languages:</label>
      
      <div class="checkbox">
        <input type="checkbox" name="html" value='true' <%= resource['html'] != 'f' ? 'checked="true"' : '' %>>
        <label for="HTML">HTML</label>
        <img class="language_img_ind" src="https://png.pngitem.com/pimgs/s/552-5526152_ornate-html5-logo-html-5-hd-png-download.png" alt="HTML5 Logo">
      </div>

      <div class="checkbox">    
        <input type="checkbox" name="css" value='true' <%= resource['css'] != 'f' ? 'checked="true"' : '' %>>
        <label for="CSS">CSS</label>
        <img class="language_img_ind" src="https://png.pngitem.com/pimgs/s/198-1985002_css3-logo-hd-png-download.png" alt="CSS Logo">
      </div>

      <div class="checkbox">  
        <input type="checkbox" name="javascript" value='true' <%= resource['javascript'] != 'f' ? 'checked="true"' : '' %>>
        <label for="Javascript">JavaScript</label>
        <img class="language_img_ind" src="https://png.pngitem.com/pimgs/s/116-1167737_logo-javascript-pattern-copyright-framework-free-download-javascript.png" alt="JS Logo">
      </div>

      <div class="checkbox">  
        <input type="checkbox" name="ruby" value='true' <%= resource['ruby'] != 'f' ? 'checked="true"' : '' %>>
        <label for="Ruby">Ruby</label>
        <img class="language_img_ind" src="https://png.pngitem.com/pimgs/s/12-120179_best-free-ruby-png-ruby-programming-language-logo.png" alt="Ruby Logo">
      </div>

      <div class="checkbox">  
        <input type="checkbox" name="ruby_on_rails" value='true' <%= resource['ruby_on_rails'] != 'f' ? 'checked="true"' : '' %>>
        <label for="ruby_on_rails">Ruby on Rails</label>
        <img class="language_img_ind" src="https://png.pngitem.com/pimgs/s/360-3600482_ruby-on-rails-logo-ruby-on-rails-logo.png" alt="Ruby on RailsLogo">
      </div>

      <div class="checkbox">  
        <input type="checkbox" name="postgresql" value='true' <%= resource['postgresql'] != 'f' ? 'checked="true"' : '' %>>
        <label for="postgresql">Postgresql</label>
        <img class="language_img_ind" src="https://png.pngitem.com/pimgs/s/151-1512647_postgresql-elephant-logo-postgresql-logo-vector-hd-png.png" alt="Postgresql Logo">
      </div>

      <div class="checkbox">  
        <input type="checkbox" name="python" value='true' <%= resource['python'] != 'f' ? 'checked="true"' : '' %>>
        <label for="python">Python</label>
        <img class="language_img_ind" src="https://png.pngitem.com/pimgs/s/159-1595932_python-logo-png-transparent-images-logo-transparent-background.png" alt="Python Logo">
      </div>
    </section>

    <button>Update resource</button>
  </form>
</div>
